.store-container {
  width: 100%;
  min-height: 100vh;

  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  padding: 8rem 10rem;

  background-color: #d9e8e5;
  background-image: url(/public/assets/images/grid-bg1.png);
  background-repeat: repeat;
}
