.cart-card-item {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  align-self: stretch;

  gap: 2rem;

  overflow: hidden;

  box-sizing: border-box;
}

.card-item-image {
  width: 6rem;
  height: 4rem;
  object-fit: cover;

  border-radius: 0.5rem;
}
