.cart-card-item {
  min-width: 100%;
  display: flex;
  align-items: center;

  gap: 2rem;

  overflow: hidden;

  box-sizing: border-box;
  border-bottom: 1px solid rgba(51, 51, 51, 0.099);
  padding: 1.5rem 1rem;
}

.card-item-image {
  width: 6rem;
  height: 4rem;
  object-fit: cover;

  border-radius: 0.5rem;
}

.deleteitem-button {
  width: 1rem;
  background-color: #e5adad;
  border: 1px solid #d78e8eb3;
  border-radius: 4px;
  position: relative;
  cursor: pointer;

  color: #fff;
}
