nav {
  width: 100%;
  height: 64px;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2rem 10rem;

  border-bottom: 2px solid #f9f9f9;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.logo-image {
  width: 65px;
}

ul li {
  list-style-type: none;
  padding: 0 2rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

ul li a {
  text-decoration: none;
  color: #333;
}

ul li a:hover {
  text-decoration: none;
  color: #008b94;
}

.shoppingcart-icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.shoppingcart-span {
  position: relative;
}

.rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0.1rem;

  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(203, 87, 87);
  color: white;

  border-radius: 50%;
  transform: translate(80%, -60%);
}
