ul li {
  list-style-type: none;
  padding: 0.5rem 2rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: end;
}

nav {
  height: 5rem;
  background-color: antiquewhite;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 5rem;
}

button {
  background-color: blanchedalmond;
  border-radius: 50%;

  position: relative;

  width: 3rem;
  height: 3rem;
  padding: 0rem;
}

.shoppingcart-icon {
  font-size: 1.5rem;
  color: blue;
}

.rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;

  position: absolute;
  bottom: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 0.3rem;
  border-radius: 50%;

  transform: translate(25%, 25%);
}