.shoppingcart-container {
  width: 45%;
  height: 75%;
  position: absolute;
  top: 65px;
  right: 0;
  overflow-y: scroll;

  padding: 1rem;
  /*  background-color: #d9e8e5bf;*/
  background-color: rgba(255, 255, 255, 0.378);
  backdrop-filter: blur(15px);
  z-index: 1001;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 1px solid #ffffff3a;
}

.close-cart {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.shoppingcart-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  box-sizing: border-box;
  gap: 1rem;
}
